{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<style type="text/css">
  .map-blob {
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 0 6px;
  }
</style>
     
<div class="govuk-width-container">
  <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        

     

      </div>
    </div>
    <!-- end grid row -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
        
        <div class="govuk-form-group">
          <span class="govuk-caption-xl">Licence 03/28/61/044</span>
            <fieldset class="govuk-fieldset" role="group" aria-describedby="signature-date-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                  Enter date of expiry
                </h1>
              </legend>

        <div id="signature-date-hint" class="govuk-hint govuk-!-margin-bottom-6">
          
          For example, 27 3 2007
        </div>

        

        <div class="govuk-date-input" id="signature-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="signature-date-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="signature-date-day" name="signature-date-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="inputText govuk-label govuk-date-input__label" for="signature-date-month">
                Month
              </label>
              <input class="inputText govuk-input govuk-date-input__input govuk-input--width-2" id="signature-date-month" name="signature-date-month" type="" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="signature-date-year">
                Year
              </label>
              <input class="inputText govuk-input govuk-date-input__input govuk-input--width-4" id="signature-date-year" name="signature-date-year" type="text" inputmode="numeric">
            </div>
          </div>
        </div>

        <!--<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
          <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">About the expiry date</span></summary>
              <div class="govuk-details__text" style="max-width: 660px;">
                Date on which the entire Licence will expire. Populated when Licence version is saved as 'current'. Once set the Expiry date can only be modified by creating a new licence version or by the Administrator ‘Re-opening’ the ‘Current’ version as a ‘Draft’ to amend.
              </div>
          </details>
        </div>-->

      </fieldset>
    </div>
        <!-- end form group item -->


        <div>
          <!--<button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>-->

    <a href="p1-3-uploaded" class="govuk-button" >
      Save and continue
    </a>
    
          <p class="govuk-hint">
            The licence will remain in draft.
          </p>
        </div>


        </div><!-- end column div -->
      </div>
    </div><!-- end row -->
  </main>
</div>


<script>
   // Attach paste event listener to the document
  document.addEventListener('paste', parseDateInput);
  

  function parseDateInput() {
  // Get references to the day, month, and year input fields
  const dayInput = document.getElementById('signature-date-day');
  const monthInput = document.getElementById('signature-date-month');
  const yearInput = document.getElementById('signature-date-year');

  // Add an event listener to each input field
  dayInput.addEventListener('input', handleDateInput);
  monthInput.addEventListener('input', handleDateInput);
  yearInput.addEventListener('input', handleDateInput);

  function handleDateInput(event) {
    // Get the value from the input field that triggered the event
    const inputValue = event.target.value;

    // Check if the input value contains a slash, period, or hyphen
    //  - - - - - - - - - - - - - -  match(/[/\.-]/)
    const dateSeparator = inputValue.match(/[/. \-]/);
    if (dateSeparator) {
      // Split the input value into day, month, and year
      const dateparts = inputValue.split(dateSeparator);

      // Populate the correct input fields
      dayInput.value = dateparts[0];
      monthInput.value = dateparts[1];
      yearInput.value = dateparts[2];

    }
  }
  // Move focus to the year input field
    yearInput.focus();
}
</script>



{% endblock %}



