{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<style type="text/css">
  .map-blob {
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 0 6px;
  }
</style>


<style>
   a:visited.govuk-link  {
    color: #005EA5 !important;
  }
</style>
     
<div class="govuk-width-container">
  <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!--<span class="govuk-caption-xl">Headline caption</span>-->
        <h1 class="govuk-heading-xl">
          Enter the details from the licence 
        </h1>

        <p>
          You should have a copy of the licence document with you.
        </p>

      </div>
    </div>
    <!-- end grid row -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
        <h2 class="govuk-heading-m">Details from the licence</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence number
            </dt>
            <dd class="govuk-summary-list__value">
              <!--03/28/61/044-->
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Add number</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application number
            </dt>
            <dd class="govuk-summary-list__value">
              <!--03/28/61/*S/0004-->
             
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Add number</a>
              <!--<br>
              <a class="govuk-link" href="#">Change</a>-->
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence holder
            </dt>
            <dd class="govuk-summary-list__value">
              <!--Big Smith Farms Limited-->
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- 3 names found
              <br>
              <a class="govuk-link" href="#">Choose one</a>-->

              <!--No account found
              <br>
              <a class="govuk-link" href="#">Create a new one</a>-->

              <a class="govuk-link" href="#">Add contact</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              &nbsp;<br>
              &nbsp;<br>
            
            </dd>
            <dd class="govuk-summary-list__actions">
              <!--from licence-->
              <br>
              <a class="govuk-link" href="#">Add address</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence issue date
            </dt>
            <dd class="govuk-summary-list__value">
              <!--01/04/2023-->
            </dd>
            <dd class="govuk-summary-list__actions">
              <!--from licence-->
              <a class="govuk-link" href="p1-3-date">Add date</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date effective
            </dt>
            <dd class="govuk-summary-list__value">
              <!--01/04/2023-->
            </dd>
            <dd class="govuk-summary-list__actions">
              <!--from licence-->
              <a class="govuk-link" href="p1-3-date">Add date</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of expiry
            </dt>
            <dd class="govuk-summary-list__value">
              <!--31/03/2034-->
            </dd>
            <dd class="govuk-summary-list__actions">
              <!--from licence-->
              <a class="govuk-link" href="p1-3-date">Add date</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of original issue
            </dt>
            <dd class="govuk-summary-list__value">
              <!--01/04/2023-->
            </dd>
            <dd class="govuk-summary-list__actions">
              <!--from licence-->
              <a class="govuk-link" href="p1-3-date">Add date</a>
            </dd>
          </div>

          </dl>



        <div>
          <!--<button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>-->

          <a href="p1-4-schedule" class="govuk-button">
            Save and continue
          </a>


    
          <p class="govuk-hint">
            The licence will remain in draft.
          </p>
        </div>


       
        </div><!-- end column div -->
      </div>
    </div><!-- end row -->
  </main>
</div>


<script>
   // Attach paste event listener to the document
  document.addEventListener('paste', parseDateInput);
  

  function parseDateInput() {
  // Get references to the day, month, and year input fields
  const dayInput = document.getElementById('signature-date-day');
  const monthInput = document.getElementById('signature-date-month');
  const yearInput = document.getElementById('signature-date-year');

  // Add an event listener to each input field
  dayInput.addEventListener('input', handleDateInput);
  monthInput.addEventListener('input', handleDateInput);
  yearInput.addEventListener('input', handleDateInput);

  function handleDateInput(event) {
    // Get the value from the input field that triggered the event
    const inputValue = event.target.value;

    // Check if the input value contains a slash, period, or hyphen
    //  - - - - - - - - - - - - - -  match(/[/\.-]/)
    const dateSeparator = inputValue.match(/[/. \-]/);
    if (dateSeparator) {
      // Split the input value into day, month, and year
      const dateparts = inputValue.split(dateSeparator);

      // Populate the correct input fields
      dayInput.value = dateparts[0];
      monthInput.value = dateparts[1];
      yearInput.value = dateparts[2];

    }
  }
  // Move focus to the year input field
    yearInput.focus();
}
</script>



{% endblock %}



