{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<style type="text/css">
  .map-blob {
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 0 6px;
  }
  a:visited.govuk-link  {
    color: #005EA5 !important;
  }
  
</style>
     
<div class="govuk-width-container">
  <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">


    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <!--<div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>-->
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Source code added: <span style="font-weight:normal">Southern region groundwater (SGW)</span>
        </p>
      </div>
    </div>




    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Licence 03/28/61/044</span>
        <h1 class="govuk-heading-xl">
          Check the conditions that have been uploaded
        </h1>
        <span class="govuk-caption-xl">Part 1</span>

        <!--<p>
          Check the details that have been uploaded from the licence.
        </p>-->

      </div>
    </div>
    <!-- end grid row -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
        
<style type="text/css">
  .highlighted {
    font-weight: normal;
    background-color: #FFBF47;
  }
</style>
<h2 class="govuk-heading-m">Conditions from the licence</h2>

        <style>
        .pseudo-card {
          border: 1px solid #b1b4b6;
          padding: 15px 20px;
          margin-bottom: 30px;
        }
      </style>


      <div class="pseudo-card">
        <dl class="govuk-summary-list" style="margin-bottom:0">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
            <dt class="govuk-summary-list__key">
              1. Source of supply
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="govuk-visually-hidden">1.1</span>Underground strata comprising of Chalk at Apple Tree Farm: Southern region groundwater (SGW)
             
            </dd>
            <dd class="govuk-summary-list__actions">
               
              
              <a class="govuk-link" href="p1-4-1-source-picker">Change</a>
            </dd>
          </div>
        </dl>
      </div>



      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" style="margin-bottom:-0.34em">
          <h2 class="govuk-summary-card__title">
            2. Points of abstraction
          </h2>

          <dd class="govuk-summary-list__actions" style="margin-bottom:-10px;padding-top: 5px;position: relative;left:1em">
            <!--<a class="govuk-link" href="p1-5-4-new-point-1">
              Add&nbsp;new&nbsp;point
            </a>-->
          </dd>
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"  style="padding-bottom: 16px;">
                <span class="govuk-visually-hidden">2.1</span>

                <span style="font-weight:normal;">
                  Point <span class="map-blob">A</span> on the licence
                </span>
              </dt>

              <dd class="govuk-summary-list__value">
                <span class="govuk-visually-hidden">2.1</span>At National Grid References SK&nbsp;675124 

                
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="p1-4-2-point-picker-a">Add point A</a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"  style="padding-bottom: 0;">
                <span class="govuk-visually-hidden">2.2</span>

                <span style="font-weight:normal;">
                  Point <span class="map-blob">B</span> on the licence
                </span>
              </dt>

              <dd class="govuk-summary-list__value">
                <span class="govuk-visually-hidden">2.2</span>At National Grid References SK&nbsp;675126
              </dd>
              <dd class="govuk-summary-list__actions" style="padding-bottom: 0;">
                <a class="govuk-link" href="p1-4-2-point-picker-b">Add point B</a>
              </dd>
            </div>

          </dl>
        </div>
      </div><!-- end card-->




      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" style="margin-bottom:-0.34em">
          <h2 class="govuk-summary-card__title">
              3. Means of abstraction
              </h2>

          <!--<dd class="govuk-summary-list__actions" style="margin-bottom:-10px;padding-top: 5px;position: relative;left:1em">
            <a class="govuk-link" href="p1-5-4-new-point-1">
              Add&nbsp;new&nbsp;point
            </a>
          </dd>-->
        </div>

        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"  style="padding-bottom: 16px;">
                <span class="govuk-visually-hidden">3.1</span>
                <span style="font-weight:normal;">
                  For point <span class="map-blob">A</span>
                </span>
              </dt>

              <dd class="govuk-summary-list__value">
                <span class="govuk-visually-hidden">3.1</span>
                A borehole not exceeding 55 metres in depth and 219 millimetres in diameter steel lined to 55 metres <span>with a submersible pump.</span>
              </dd>

                
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="p1-4-3-means">Add code<!--for<br>point A--></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key"  style="padding-bottom: 16px;">
                <span class="govuk-visually-hidden">3.1</span>
                <span style="font-weight:normal;">
                  For point <span class="map-blob">B</span>
                </span>
              </dt>

              <dd class="govuk-summary-list__value">
                <span class="govuk-visually-hidden">3.2</span>

                A borehole not exceeding 60 metres in depth and 400 millimetres in diameter with plain steel lined to 60 metres <span>with a submersible pump.</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="p1-4-3-means-b">Add code<!--for<br>point B--></a>
            </dd>
          </div>

        </dl>
      </div>
    </div>


        <div>
          <!--<button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>-->

          <a href="p1-5-purposes" class="govuk-button">
            Save and continue
          </a>

    
          <p class="govuk-hint">
            The licence will remain in draft.
          </p>
        </div>


        </div><!-- end column div -->
      </div>
    </div><!-- end row -->
  </main>
</div>


<script>
   // Attach paste event listener to the document
  document.addEventListener('paste', parseDateInput);
  

  function parseDateInput() {
  // Get references to the day, month, and year input fields
  const dayInput = document.getElementById('signature-date-day');
  const monthInput = document.getElementById('signature-date-month');
  const yearInput = document.getElementById('signature-date-year');

  // Add an event listener to each input field
  dayInput.addEventListener('input', handleDateInput);
  monthInput.addEventListener('input', handleDateInput);
  yearInput.addEventListener('input', handleDateInput);

  function handleDateInput(event) {
    // Get the value from the input field that triggered the event
    const inputValue = event.target.value;

    // Check if the input value contains a slash, period, or hyphen
    //  - - - - - - - - - - - - - -  match(/[/\.-]/)
    const dateSeparator = inputValue.match(/[/. \-]/);
    if (dateSeparator) {
      // Split the input value into day, month, and year
      const dateparts = inputValue.split(dateSeparator);

      // Populate the correct input fields
      dayInput.value = dateparts[0];
      monthInput.value = dateparts[1];
      yearInput.value = dateparts[2];

    }
  }
  // Move focus to the year input field
    yearInput.focus();
}
</script>



{% endblock %}



