{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>


<style type="text/css">
  .govuk-radios__hint {
    
    position: relative;
    left: -60px;
    
  }
  .govuk-radios__label {
    margin-top: -7px;
  }
</style>


<div class="govuk-width-container">
  <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Point B purpose 1</span>
        <h1 class="govuk-heading-l">
          Secondary purpose code for Agriculture (A)
        </h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="crossRegionFlag-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <p>
                Point B purpose 1: Trickle irrigation - direct
              </p>
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="S1" name="purpose-picker" type="radio" value="AGR">
                <label class="govuk-label govuk-radios__label" for="S1">
                  General agriculture
                  <span class="govuk-hint govuk-radios__hint">AGR</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="S2" name="purpose-picker" type="radio" value="AQF">
                <label class="govuk-label govuk-radios__label" for="S2">
                  Aquaculture fish
                  <span class="govuk-hint govuk-radios__hint">AQF</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="S3" name="purpose-picker" type="radio" value="AQP">
                <label class="govuk-label govuk-radios__label" for="S3">
                  Aquaculture plant
                  <span class="govuk-hint govuk-radios__hint">AQP</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="S4" name="purpose-picker" type="radio" value="FOR">
                <label class="govuk-label govuk-radios__label" for="S4">
                  Forestry
                  <span class="govuk-hint govuk-radios__hint">FOR</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="S5" name="purpose-picker" type="radio" value="HOR">
                <label class="govuk-label govuk-radios__label" for="S5">
                  Horticulture and nurseries
                  <span class="govuk-hint govuk-radios__hint">HOR</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="S6" name="purpose-picker" type="radio" value="ORC">
                <label class="govuk-label govuk-radios__label" for="S6">
                  Orchards
                  <span class="govuk-hint govuk-radios__hint">ORC</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="S7" name="purpose-picker" type="radio" value="ZOO">
                <label class="govuk-label govuk-radios__label" for="S7">
                  Zoos, kennels, stables
                  <span class="govuk-hint govuk-radios__hint">ZOO</span>
                </label>
              </div>

            



     

      </div>
    </div>
    <!-- end grid row -->

   


    




    

<br>
    <!--<div class="govuk-!-margin-bottom-8">
      <p>
        <a href="#" onclick="return false;">Save and add</a> another point
      </p>
    </div>-->




    <!--<button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>-->

    <a href="p1-5-4-purpose-picker-2b" class="govuk-button" >
      Save and continue
    </a>

    <div>
      <p class="govuk-hint">
        The licence will remain in draft.
      </p>



    </div>




  </div><!-- end column div -->





  <div class="govuk-grid-column-one-third">
    
     <!-- end column -->
    
 
    <!--<h4>Steps</h4>

    <p>
      <ul>
        <li>Licence number</li>
        <li>Licence dates</li>
        <li class="govuk-!-margin-bottom-2">Notes</li>

        <li>Licence versions</li>
        <li>Licence type</li>
        <li class="govuk-!-margin-bottom-2">Licence holder</li>

        <li>Licence purposes</li>
          <ul class="govuk-!-margin-bottom-2">
            <li>Period</li>
            <li>Amounts</li>
            <li>Points</li>
            <li>Conditions</li>
            <li>Agreements</li>
          </ul>

        <li>Licence areas<br>
        <i>based on the point(s)</i></li>

      </ul>
   
    </p>-->

   

  </div><!-- end column -->
</div><!-- end row -->
  



{% endblock %}


{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#address-picker')
  })

  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#subcode-picker')
  })
</script>

{% endblock %}


