{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>


<style type="text/css">
  .govuk-radios__hint {
    
    position: relative;
    left: -60px;
    
  }
  .govuk-radios__label {
    margin-top: -7px;
  }
</style>


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Point A purpose</span>
        <h1 class="govuk-heading-xl">
          Add a note to this purpose
        </h1>

         <p class="govuk-body">
          <BR>
          Purpose: Agriculture other than spray irrigation,
          <br>
          <span class="govuk-hint">A AGR 140 - General Farming & Domestic</span>
        </p>

        


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

         <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="licence-number-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Note text
              </h3>
            </legend>

            <div id="licence-note-hint" class="govuk-hint govuk-!-margin-bottom-2">
              For example, further explanation of time limits or quantity restrictions
              <br>
              

              
            </div>

            <input type="text" id="licence-purpose-note" name="licence-purpose-note" class="govuk-input govuk-input--width-40" autocomplete="off" />

          </fieldset>
        </div>
        <!-- end form group item -->


    




    

<br>
    <!--<div class="govuk-!-margin-bottom-8">
      <p>
        <a href="#" onclick="return false;">Save and add</a> another point
      </p>
    </div>-->




    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    <div>
      <p class="govuk-hint">
        The licence will remain in draft.
      </p>



    </div>




  </div><!-- end column div -->





  <div class="govuk-grid-column-one-third">
    
     <!-- end column -->
    
 
    <!--<h4>Steps</h4>

    <p>
      <ul>
        <li>Licence number</li>
        <li>Licence dates</li>
        <li class="govuk-!-margin-bottom-2">Notes</li>

        <li>Licence versions</li>
        <li>Licence type</li>
        <li class="govuk-!-margin-bottom-2">Licence holder</li>

        <li>Licence purposes</li>
          <ul class="govuk-!-margin-bottom-2">
            <li>Period</li>
            <li>Amounts</li>
            <li>Points</li>
            <li>Conditions</li>
            <li>Agreements</li>
          </ul>

        <li>Licence areas<br>
        <i>based on the point(s)</i></li>

      </ul>
   
    </p>-->

   

  </div><!-- end column -->
</div><!-- end row -->
  



{% endblock %}


{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#address-picker')
  })

  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#subcode-picker')
  })
</script>

{% endblock %}


