{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>


<style type="text/css">
  .govuk-radios__hint {
    
    position: relative;
    left: -60px;
    
  }
  .govuk-radios__label {
    margin-top: -7px;
  }
</style>


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Point A purpose 1</span>
        <h1 class="govuk-heading-l">
          Select primary purpose code
        </h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="crossRegionFlag-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <p>
                Point A: “Agriculture other than spray irrigation”
              </p>
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P1" name="P1" type="radio" value="A">
                <label class="govuk-label govuk-radios__label" for="P1">
                  Agriculture
                  <span class="govuk-hint govuk-radios__hint">A</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P2" name="P2" type="radio" value="C">
                <label class="govuk-label govuk-radios__label" for="P2">
                  Crown and government
                  <span class="govuk-hint govuk-radios__hint">C</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P3" name="P3" type="radio" value="E">
                <label class="govuk-label govuk-radios__label" for="P3">
                  Environmental
                  <span class="govuk-hint govuk-radios__hint">E</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P4" name="P4" type="radio" value="I">
                <label class="govuk-label govuk-radios__label" for="P4">
                  Industrial, commercial and pulic services
                  <span class="govuk-hint govuk-radios__hint">I</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P5" name="P5" type="radio" value="M">
                <label class="govuk-label govuk-radios__label" for="P5">
                  Amenity
                  <span class="govuk-hint govuk-radios__hint">M</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P6" name="P6" type="radio" value="W">
                <label class="govuk-label govuk-radios__label" for="P6">
                  Production of energy
                  <span class="govuk-hint govuk-radios__hint">P</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P7" name="P7" type="radio" value="W">
                <label class="govuk-label govuk-radios__label" for="P7">
                  Water supply
                  <span class="govuk-hint govuk-radios__hint">W</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="P8" name="P8" type="radio" value="X">
                <label class="govuk-label govuk-radios__label" for="P8">
                  Impounding
                  <span class="govuk-hint govuk-radios__hint">X</span>
                </label>
              </div>



     

      </div>
    </div>
    <!-- end grid row -->

   


    




    

<br>
    <!--<div class="govuk-!-margin-bottom-8">
      <p>
        <a href="#" onclick="return false;">Save and add</a> another point
      </p>
    </div>-->




    <!--<button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>-->

    <a href="p1-5-4-purpose-picker-2" class="govuk-button" >
      Save and continue
    </a>

    <div>
      <p class="govuk-hint">
        The licence will remain in draft.
      </p>



    </div>




  </div><!-- end column div -->





  <div class="govuk-grid-column-one-third">
    
     <!-- end column -->
    
 
    <!--<h4>Steps</h4>

    <p>
      <ul>
        <li>Licence number</li>
        <li>Licence dates</li>
        <li class="govuk-!-margin-bottom-2">Notes</li>

        <li>Licence versions</li>
        <li>Licence type</li>
        <li class="govuk-!-margin-bottom-2">Licence holder</li>

        <li>Licence purposes</li>
          <ul class="govuk-!-margin-bottom-2">
            <li>Period</li>
            <li>Amounts</li>
            <li>Points</li>
            <li>Conditions</li>
            <li>Agreements</li>
          </ul>

        <li>Licence areas<br>
        <i>based on the point(s)</i></li>

      </ul>
   
    </p>-->

   

  </div><!-- end column -->
</div><!-- end row -->
  



{% endblock %}


{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#address-picker')
  })

  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#subcode-picker')
  })
</script>

{% endblock %}


