{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<style type="text/css">
  .map-blob {
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 0 6px;
  }
  .blueblob {
    display: inline-block;
    background-color: #2B8CC4;
    border-radius: 16px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    //padding: 0 6px;
  }
  .quantblob {
    display: inline-block;
    background-color: #f48838;
    
    border-radius: 16px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: black;
    //padding: 0 6px;
  }
</style>


<style>
   a:visited.govuk-link  {
    color: #005EA5 !important;
  }
</style>
     
<div class="govuk-width-container">
  <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">


     <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <!--<div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>-->
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading" style="max-width:950px">
          Set 2 of quantities linked to purposes 2 and 3 <span style="font-weight:normal"></span>
        </p>
      </div>
    </div>




    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Licence 03/28/61/044</span>
        <h1 class="govuk-heading-xl">
          Confirm the conditions that have been uploaded
        </h1>
        <span class="govuk-caption-xl">Part 2</span>

        <!--<p>
          Check the details that have been uploaded from the licence.
        </p>-->

      </div>
    </div>
    <!-- end grid row -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
        

<style>
   .govuk-summary-list__actions {
    width: 4em;
   }
   .govuk-summary-list__key {
    width: 16em;
   }
   .val {
    display: block;
    width: 24em;
   }

</style>

        
          
      <h2 class="govuk-heading-m">Conditions from the licence</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" style="margin-bottom:-0.34em">
          <h2 class="govuk-summary-card__title">
            4. Purpose of abstraction
          </h2>

          <dd class="govuk-summary-list__actions" style="margin-bottom:-10px;padding-top: 5px;">
            <!--<a class="govuk-link" href="p1-5-4-purpose-picker-1">
              Add&nbsp;purpose
            </a>-->
          </dd>
        </div>
        
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key" style="padding-bottom: 0.12em;padding-top: 0;">
                <span class="govuk-visually-hidden">4.1</span>
                From point A:
              </dt>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="padding-bottom: 0.74em;">
                <span style="font-weight: normal;">
                  <span class="govuk-visually-hidden">4.1.1</span>
                  <span class="blueblob">1</span> Agriculture other than spray irrigation
                </span>
              </dt>

              
              <dd class="govuk-summary-list__value">
                <span class=" val">A AGR 140 - General Farming & Domestic</span>
              </dd>

              
              <dd class="govuk-summary-list__actions"  style="padding-bottom: 0;">
                <a class="govuk-link" href="p1-5-4-purpose-picker-1">
                  <br>
                  Change
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key" style="padding-bottom: 0.12em;">
                <span class="govuk-visually-hidden">4.2</span>
                From point B:
              </dt>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="padding-bottom: 16px;">
                <span style="font-weight: normal;">
                  <span class="govuk-visually-hidden">4.2.1</span>
                  <span class="blueblob">2</span> Trickle irrigation - direct
                </span>
              </dt>

              
              <dd class="govuk-summary-list__value">
                <span class=" val">A AGR 600 - Trickle Irrigation - Direct</span>
              </dd>

              
              <dd class="govuk-summary-list__actions">
                <!--<a class="govuk-link" href="p1-5-4-purpose-picker-2">
                  Add
                </a>
                <span class="govuk-hint" style="padding-left:0.33em;padding-right:0em">|</span>-->
                <a class="govuk-link" href="p1-5-4-purpose-picker-b1">
                  Change
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row" >
              <dt class="govuk-summary-list__key"  style="padding-bottom: 0;">
                <span style="font-weight: normal;">
                  <span class="govuk-visually-hidden">4.2.1</span>
                  <span class="blueblob">3</span> Filling a sealed storage reservoir for subsequent trickle irrigation 
                </span>
              </dt>

              
              <dd class="govuk-summary-list__value">
                <span class=" val">620 - Trickle Irrigation - Storage</span>
              </dd>

              
              <dd class="govuk-summary-list__actions"  style="padding-bottom: 0;">
                <a class="govuk-link" href="p1-5-4-purpose-picker-b2">
                  <br>
                  Change
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>


      <style>
        .pseudo-card {
          border: 1px solid #b1b4b6;
          padding: 15px 20px;
          margin-bottom: 30px;
        }
      </style>


      <div class="pseudo-card">
        <dl class="govuk-summary-list" style="margin-bottom:0">
        <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
          <dt class="govuk-summary-list__key">
            5. Period of abstraction
          </dt>
          <dd class="govuk-summary-list__value">
            All year
          </dd>
          <dd class="govuk-summary-list__actions">
            
            <a class="govuk-link" href="p1-4-5-period">Change</a>
          </dd>

        </div>
      </div>



      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper" style="margin-bottom:-0.76em">
          <h2 class="govuk-summary-card__title">
            <span style="display:inline-block;width:32em">6. Maximum quantities to be abstracted</span>
            <!--<span class="govuk-hint" style="color:#0b0c0c;">Maximum quantity to be abstracted</span>-->
          </h2>

          <dd class="govuk-summary-list__actions" style="margin-bottom:-10px;padding-top: 5px;">
            <!--<a class="govuk-link" href="p1-5-4-purpose-picker-1" style="position:relative;left:-20px">
              Link&nbsp;quantities
            </a>-->
          </dd>
        </div>
        
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">

            
            <div class="govuk-summary-list__row" style="">
              <dt class="govuk-summary-list__key"  style="padding-bottom: 16px;">
                <span class="govuk-visually-hidden">4.1</span>

                <span style="font-weight:normal;">
                  Set <span class="quantblob">1</span> for purpose <span class="blueblob">1</span>
                </span>

                
                  
              </dt>
              <dd class="govuk-summary-list__value" >
                <!--The maximum quantity of water to be abstracted
                <br>
                <br>  -->            
                4 cubic metres per hour<br>
                6 cubic metres per day<br>
                2,890 cubic metres per year<br>
                
              </dd>
              <dd class="govuk-summary-list__actions" style="width:16em;padding-bottom: 16px;">
                <!--from licence-->
                <a class="govuk-link" href="p1-5-6-quantities-1">
                  Edit<span class="govuk-visually-hidden">quantities</span>
                </a>

                <span style="padding:0 0.66em">|</span>
                
                <a class="govuk-link" href="p1-5-6-quantities-3a">
                  Change<span class="govuk-visually-hidden">quantities</span>
                </a>
                
              </dd>

            </div>

            <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
              <dt class="govuk-summary-list__key" style="padding-bottom: 0.12em;padding-top: 0;">
                <span class="govuk-visually-hidden">4.1</span>

                <span style="font-weight:normal;">
                  Set <span class="quantblob">2</span> for purpose <span class="blueblob">1</span> and <span class="blueblob">2</span>
                </span>

                
              </dt>
              <dd class="govuk-summary-list__value"  style="padding-bottom: 0;">
                25 cubic metres per hour<br>
                230 cubic metres per day<br>
                51,830 cubic metres per year
              </dd>
              <dd class="govuk-summary-list__actions" style="width:16em;padding-bottom: 0;">

                 <a class="govuk-link" href="p1-5-6-quantities-2">
                  Edit<span class="govuk-visually-hidden">quantities</span>
                </a>

                <span style="padding:0 0.66em">|</span>
                
                <a class="govuk-link" href="p1-5-6-quantities-3b">
                  Change<span class="govuk-visually-hidden">quantities</span>
                </a>
              </dd>

            </div>
          </dl>
        </div>
      </div>



        <div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

    
          <p class="govuk-hint">
            The licence will remain in draft.
          </p>
        </div>


        </div><!-- end column div -->
      </div>
    </div><!-- end row -->
  </main>
</div>


<script>
   // Attach paste event listener to the document
  document.addEventListener('paste', parseDateInput);
  

  function parseDateInput() {
  // Get references to the day, month, and year input fields
  const dayInput = document.getElementById('signature-date-day');
  const monthInput = document.getElementById('signature-date-month');
  const yearInput = document.getElementById('signature-date-year');

  // Add an event listener to each input field
  dayInput.addEventListener('input', handleDateInput);
  monthInput.addEventListener('input', handleDateInput);
  yearInput.addEventListener('input', handleDateInput);

  function handleDateInput(event) {
    // Get the value from the input field that triggered the event
    const inputValue = event.target.value;

    // Check if the input value contains a slash, period, or hyphen
    //  - - - - - - - - - - - - - -  match(/[/\.-]/)
    const dateSeparator = inputValue.match(/[/. \-]/);
    if (dateSeparator) {
      // Split the input value into day, month, and year
      const dateparts = inputValue.split(dateSeparator);

      // Populate the correct input fields
      dayInput.value = dateparts[0];
      monthInput.value = dateparts[1];
      yearInput.value = dateparts[2];

    }
  }
  // Move focus to the year input field
    yearInput.focus();
}
</script>



{% endblock %}



