{% extends "layout.html" %}
//the pages in the sandbox use the _BASE.html layout, you can switch them to use the Search/Manage nav bar by using the _manage.html layout

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<style type="text/css">
  .map-blob {
    background-color: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 0 6px;
  }
</style>
     
<div class="govuk-width-container">
  <a href="javascript:window.history.back();" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Point A</span>
        <h1 class="govuk-heading-xl">
          Select the means of measurement for point A
        </h1>

     

      </div>
    </div>
    <!-- end grid row -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
        

<style type="text/css">
  .govuk-radios__hint {
    
    position: relative;
    left: -60px;
    
  }
  
</style>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="crossRegionFlag-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <!--<p>
                Select a point already listed at this location or create a new point
              </p>
            </legend>-->
            <!--<div id="crossRegionFlag-hint" class="govuk-hint">
              Points already listed at this location
            </div>-->
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag" name="crossRegionFlag" type="radio" value="AAG">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag">
                  As agreed with agency
                  <span class="govuk-hint govuk-radios__hint">AAG</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-2" name="crossRegionFlag" type="radio" value="EST">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-2">
                  Estimated volume
                  <span class="govuk-hint govuk-radios__hint">EST</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-3" name="crossRegionFlag" type="radio" value="KAD">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-3">
                  Known area <span class="times-lc">&times;</span> depth
                  <span class="govuk-hint govuk-radios__hint">KAD</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-4" name="crossRegionFlag" type="radio" value="KCO">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-4">
                  Known capacity <span class="times-lc">&times;</span> number of fills
                  <span class="govuk-hint govuk-radios__hint">KCO</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-5" name="crossRegionFlag" type="radio" value="LEV">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-5">
                  Level/stage at flow measuring structure
                  <span class="govuk-hint govuk-radios__hint">LEV</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-6" name="crossRegionFlag" type="radio" value="LIV">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-6">
                  Number of livestock <span class="times-lc">&times;</span> standard rate
                  <span class="govuk-hint govuk-radios__hint">LIV</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-7" name="crossRegionFlag" type="radio" value="MTR" checked>
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-7">
                  Meter
                  <span class="govuk-hint govuk-radios__hint">MTR</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-8" name="crossRegionFlag" type="radio" value="MXM">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-8">
                  Mixed means
                  <span class="govuk-hint govuk-radios__hint">MXM</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-9" name="crossRegionFlag" type="radio" value="OCM">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-9">
                  Open channel measurement
                  <span class="govuk-hint govuk-radios__hint">OCM</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-10" name="crossRegionFlag" type="radio" value="OTH">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-10">
                  Other means
                  <span class="govuk-hint govuk-radios__hint">OTH</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-11" name="crossRegionFlag" type="radio" value="PEO">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-11">
                  Number of people <span class="times-lc">&times;</span> standard rate
                  <span class="govuk-hint govuk-radios__hint">PEO</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-12" name="crossRegionFlag" type="radio" value="PRT">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-12">
                  Pump rate <span class="times-lc">&times;</span> time
                  <span class="govuk-hint govuk-radios__hint">PRT</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-13" name="crossRegionFlag" type="radio" value="PWC">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-13">
                  Power consumed
                  <span class="govuk-hint govuk-radios__hint">PWC</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-14" name="crossRegionFlag" type="radio" value="PWG">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-14">
                  Power generated
                  <span class="govuk-hint govuk-radios__hint">PWG</span>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="crossRegionFlag-15" name="crossRegionFlag" type="radio" value="UNM">
                <label class="govuk-label govuk-radios__label" for="crossRegionFlag-15">
                  Unspecified means
                  <span class="govuk-hint govuk-radios__hint">UNM</span>
                </label>
              </div>


             

              



            </div>
          </fieldset>
        </div>
        <!-- end form group item -->


        <div>
          <!--<button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>-->

          <a href="p1-7-measure-cards-2" class="govuk-button">
            Save and continue
          </a>


    
          <p class="govuk-hint">
            The licence will remain in draft.
          </p>
        </div>


        </div><!-- end column div -->
      </div>
    </div><!-- end row -->
  </main>
</div>


<script>
   // Attach paste event listener to the document
  document.addEventListener('paste', parseDateInput);
  

  function parseDateInput() {
  // Get references to the day, month, and year input fields
  const dayInput = document.getElementById('signature-date-day');
  const monthInput = document.getElementById('signature-date-month');
  const yearInput = document.getElementById('signature-date-year');

  // Add an event listener to each input field
  dayInput.addEventListener('input', handleDateInput);
  monthInput.addEventListener('input', handleDateInput);
  yearInput.addEventListener('input', handleDateInput);

  function handleDateInput(event) {
    // Get the value from the input field that triggered the event
    const inputValue = event.target.value;

    // Check if the input value contains a slash, period, or hyphen
    //  - - - - - - - - - - - - - -  match(/[/\.-]/)
    const dateSeparator = inputValue.match(/[/. \-]/);
    if (dateSeparator) {
      // Split the input value into day, month, and year
      const dateparts = inputValue.split(dateSeparator);

      // Populate the correct input fields
      dayInput.value = dateparts[0];
      monthInput.value = dateparts[1];
      yearInput.value = dateparts[2];

    }
  }
  // Move focus to the year input field
    yearInput.focus();
}
</script>



{% endblock %}



